* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    font-size: 16px;
}
#root {
    width: 634px;
}
.avengers {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.avenger {
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    border-top-left-radius: 15px;
}
.avenger:last-child {
    border-right: 3px solid #000;
}
.avenger:hover {
    background-color: #ccc;
    border-bottom: 3px solid #fff;
    text-decoration: underline;
}
.avenger:hover > .preview {
    visibility: visible;
    /*==========================
    .preview shows on hover
    expected: true
    received: false
    --- Wrong
    ==========================*/
}
.preview {
    /* height is ~ 260 - same as source image*/
    visibility: hidden;
    background-color: #ccc;
    position: absolute;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 4px solid #000;
    padding: 15px;
    top: 44px;
    left: 2px;
    width: 632px;
    text-align: center;
}
.preview img {
    border: 5px solid #fff;
    border-radius: 5px;
    box-sizing: content-box;
    width: 400px;
    float: left;
}

/*.preview:hover {
    visibility: visible;
    ==========================
    .preview shows on hover
    expected: true
    received: false
    --- Wrong
    ==========================
    Height a hovered .preview
    expected: 235
    received: 443
    --- Wrong
    ==========================
    Actual height is ~ 260 - same as source image
}*/

.skills {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-weight: normal;
    font-size: 21px;
}
.skills li {
    margin-top: 39px;
}
.skills li::first-letter {
    text-transform: uppercase;
}
.skills li:hover {
    text-decoration: underline;
    /*==========================
    Underlined .skills li on hover
    expected: underline
    received: none
    --- Wrong
    ==========================*/
}
