* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

.orange {
  color: #e16b1c;
  letter-spacing: 1px; }

.red {
  color: #f00; }

.yellow {
  color: #edd78d;
  font-weight: 100; }

.green-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #71b47a;
  border-radius: 50%; }

table {
  width: 304px;
  height: 205px;
  text-align: left;
  border-collapse: collapse;
  background-color: #595959; }
  table thead th {
    font-size: 16px;
    text-align: left;
    font-weight: 100;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 3px;
    color: #a4aeac; }
  table tbody {
    font-size: 11px; }
    table tbody th {
      font-style: italic;
      font-weight: normal;
      width: 98px;
      color: #e5e5e5;
      vertical-align: top;
      padding: 7px 0 7px 3px; }
    table tbody td {
      color: #bbbbbb;
      vertical-align: top;
      padding: 7px 0 7px 0px; }
      table tbody td a {
        text-decoration: none; }
      table tbody td a:visited {
        color: #edd78d; }
    table tbody > tr:nth-child(1) > th, table tbody > tr:nth-child(1) > td {
      padding: 5px 0 0px 3px; }
    table tbody > tr:nth-child(2) > td {
      padding: 3px 0px 7px 0px; }
