@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ajax with MVC homework</h1>
    <p class="lead">CRUD movies</p>
    <p><a href="/Movies" class="btn btn-primary btn-lg">Movies</a></p>
</div>
