body  {
  font-size: 14px;
  font-family: 'Arial';
  margin:0;
  color: #e4eff9;
}
#root {
  width:500px;
}
.avengers {
  margin:0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #205d99;
}
.avengers li {
  border-bottom: 3px solid #79aee3;
  padding: 0 15px;
}
.preview {
  display: none;
  text-align: justify;
      /*margin-top: 30px;*/
}
.preview img {
  float:left;
  width: 200px;
  border: 15px solid #79aee3;
    border-radius: 15px;
    margin-right: 10px;
margin-bottom: 10px;
}
label {
  display: inline-block;
  font-size: 21px;
  width: 100%;
  padding: 15px 0;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ .preview {
  display: block;
}
input[type="radio"]:checked ~ label {
  color: #aecfee;
  font-size: 24px;
  font-weight: bold;
}
