@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Sum two integers:</h2>
    <form method="post" action="\Sum\Result">
        <div class="form-group">
            <label for="TextBox1"></label>
            <input type="text" id="TextBox1" name="firstValue" />
        </div>
        <div class="form-group">
            <label for="TextBox2"></label>
            <input type="text" id="TextBox2" name="secondValue" />

        </div>
        <div class="form-group">
            <input type="submit" value="Sum" />
        </div>
    </form>
</div>

<div class="row">
</div>




