body {
  margin: 0;
  font-family: sans-serif; }

* {
  box-sizing: border-box; }

#wrapper {
  background-color: #d3e7fc;
  width: 436px;
  border: 1px solid #768290;
  box-sizing: border-box; }

.title {
  height: 30px;
  background-color: lightblue;
  line-height: 30px;
  display: inline-block;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px; }

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 433px;
  background-color: red;
  margin: auto; }
  ul li {
    display: inline-block;
    font-family: Segoe UI;
    font-size: 13px;
    margin: 0 5px;
    padding-left: 1px; }
    ul li::first-letter {
      text-decoration: underline; }

table {
  width: 100%;
  width: 433px; }
  table tr {
    height: 55px; }
